/* =============================================================================
// COLOURS
/* ============================================================================= */

$background-color: #E7F5F8;

$brand-primary: #09406C;
$brand-secondary: #ED3688;
$brand-tertiary: #FDC542;
$brand-neutral: #433F3A;